//colors
$cyan: #66e2dc;
$orange: #fa7453;
$yellow: #ffb964;
$almostWhite: #fcfaf9;
$almostBlack: #191826;

//viewports
$desktop: 1024;
$tablet: 768;

//max-width
$maxWidth-desktop: 1110;
$maxWidth-tablet: 696;
$maxWidth-mobile: 327;
