@import "reset";
@import "variables";
@import "function";
@import "common";

body,
html {
  overflow-x: hidden;
}

body {
  position: relative;
  color: $almostBlack;
}

body::after {
  content: "";
  background-image: url(./assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: absolute;
  top: rem(-250);
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -9999;
}

.header {
  padding-top: rem(40);
  margin-bottom: rem(64);
}

.navbar,
.hero,
.footer {
  @include max-width($maxWidth-mobile);
}

.website-logo {
  width: rem(146.09);
  height: rem(32);
}

.hero {
  margin-bottom: rem(166);

  &__heading {
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 1.444rem + 4.507vw, 5.5rem);
    line-height: 1.2;
    margin-bottom: rem(20);
  }

  &__para {
    line-height: 1.62;
  }
}

.premium {
  width: 100%;
  height: rem(600);
  border-radius: rem(12);
  background-color: $almostBlack;
  background-image: url(./assets/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: rem(280) rem(420);
  color: $almostWhite;
  position: relative;
  margin-bottom: rem(390);

  &-box {
    @include flex;
    gap: rem(48);
    position: absolute;
    top: rem(-98);
  }

  &__phone-img {
    width: rem(208.97);
    height: rem(430);
  }

  &-EQ {
    @include premium-EQ(48, 36);

    &__heading {
      font-size: rem(32);
      line-height: 1.32;
      margin-bottom: rem(12);
    }

    &__para {
      font-size: rem(18);
      line-height: 1.56;
      margin-bottom: rem(36);
    }

    &__price {
      @include flex;
      flex-direction: row;
      gap: rem(16);
      font-size: rem(65);
      line-height: 0.8;
      margin-right: rem(16);
      margin-bottom: rem(32);

      & span {
        font-size: rem(20);
        line-height: 1.6;
        letter-spacing: -0.2px;
        font-weight: 400;
      }
    }

    &__cta {
      @include downloadBTN;

      &--android {
        background-color: $almostWhite;
        color: $almostBlack;
        margin-top: rem(16);
      }
    }
  }
}

.footer {
  @include grid(32, 1fr);
  margin-bottom: rem(60);

  &__para {
    line-height: 1.62;
    padding-right: rem(30);
  }

  &-social {
    display: flex;
    gap: rem(16);
    margin-top: rem(32);

    & ion-icon {
      color: $almostBlack;
      font-size: rem(24);
    }
  }
}

@import "tablet";
@import "desktop";
